body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #cefdae, #65c40d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Адаптация для мобильных устройств */
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 10px 0;
    }
    section {
        margin: 10px; /* Уменьшение отступов для мобильных */
        padding: 15px; /* Уменьшение внутреннего отступа */
    }
}

@keyframes gradient {
    0% { background-position: 0% 25%; }
    25% { background-position: 25% 50%;}
    50% { background-position: 50% 75%; }
    75% { background-position: 75% 100%;}
    100% { background-position: 0% 25%; }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4caf50;
    font-size: 2.5em;
}

h2 {
    color: #6a5acd;
    font-size: 1.8em;
    margin-top: 20px;
}

p, ul {
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
}

.content {
    display: flex;
    align-items: flex-start;
}

.text {
    flex: 1;
}

.image {
    margin-left: 20px;
    border: 5px solid #4caf50; /* Зелёная рамка */
    border-radius: 8px;
    overflow: hidden; /* Обеспечивает округление углов */
}

.image img {
    max-width: 200px; /* Ширина изображения */
    height: auto; /* Автоматическая высота */
    display: block; /* Убирает пробелы под изображением */
}

footer {
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    color: #777;
}
